<div class="jumbotron login">
	<h2 class= "error-text" style="color: white"> About Us </h2>
	<h4 class= "error-text" style="color: white"> Chungyuk Takahashi, Amauris Ferreira, Jonathan Maeda, Yoseph Kantorovich </h4>
	<p class= "error-text"> we couldn't think of a creative name...</p>
</div>