<!DOCTYPE html>
<html>
  <head>
    <title>nanoTwitter by Amauris F., Chungyuk T., Jonathan M., Yoseph K.</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <%= css :application %>

  </head>
  <div id="wrapper">
  <body>
  <nav class= "navbar navbar-default">
      <div class = "container-fluid">
        <div class = "navbar-header">
          <a style = "color:#01C9F5" class = "navbar-brand" href = "/">nanoTwitter</a>
        </div>
        <div>
          <ul class = "nav navbar-nav nav-tabs">
            <li><a href = "/profile">Profile</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href = "#" role="button" aria-expanded="false">Account<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
            <li><a href ="/settings">Settings</a></li>
            <li><a href = "/logout">Log Out</a></li>
            </li>
            </ul>
            <li><a href= "/about_us">About Us</a></li>
          </ul>
          <!--<div class = "container logout-button">
            <div class = "row">
              <div class = "col-md-6">
                <button onclick="window.location.href='/logout'" type="button" class="btn btn-default searchbar tweet-button">Logout</button>
              </div>
            </div>
          </div>-->
        </div>
        <!--<div class = "container row">-->
          <div class="row">
            <div class ="col-md-6 col-md-offset-1">

              <form class="nav navbar-nav" action="/search" method="POST">
              <div class = "input-group search-area">
                <input type="text" class="form-control searchbar" name="search" placeholder="Search for friends, tweets...">
                <span class="input-group-btn">
                  <button class="btn btn-default search-button" type="send"><i class="glyphicon glyphicon-search" aria-hidden="true" ></i></button>
                </span>
              </form>
                <!--<button type="submit" class="btn  btn-default search-button" aria-label="Left Align" >
                  <i class="glyphicon glyphicon-search" aria-hidden="true" ></i>
                </button>-->
            </div>
            </div>
          </div>
        <!--</div>-->

      </div>
     </nav>
      <!--<div class="bs-example">
        <ul class="nav nav-tabs nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
    </div>-->
    <!--<div class = "container">-->
      <%= yield %>
    <!--</div>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script type = "text/javascript" src="main.js"></script>
    <%= js :application %>
  </body>
  </div>
</html>
