<div class="jumbotron login">
	<h2 position = "top: 0px"style ="color: white">   Welcome to nanoTwitter! <br> Log in Below, or <a class = "signup-button" href ="/signup">Sign Up Here</a></h3> </h2>
	<form role="form" action="/login">
		<div class="form-group col-md-3">
			<label style ="color:white" for "username">Username</label>
			<input type="user" class = "form-control" name="username" placeholder="Enter Username">
		</div>
		<div class="form-group col-md-3">
			<label style ="color:white" for "password">Password</label>
			<input type="user" class = "form-control" name="password" placeholder="Enter Password">
		</div><br>
		<div class = "form-group ">
			<button type="submit" class="btn btn-default login_button">Log In</button>
		</div>
	</form>
	<br>
	<h4 class= "error-text" style="color: red"> Not a valid username/password. Please try again. </h4>
	<h3 class= "forgotPass" style="color: white"> Forgot your password? <a class = "forgotPass-button" href ="/resetpassword">Click Here</a></h3> 
</div>