<div class = "container profile-info">
	<div class="profile-pic">
	</div>
</div>

<div class="container tabs">
	<form role="form" action="/tweet" method="POST">
		<div class = "container tweet">
			<textarea class = "form-control tweet-text" name = "tweet_text" maxlength="140"></textarea>
			<button class = "btn btn-default tweet-button">Tweet</button>
			<p class="counter">140</p>
		</div>
	</form>
	<div class = "container profile-tabs">
		<ul class = "nav nav-tabs profile-tabs">
			<li role = "presentation" class = "active" data-toggle="tab"> <a href="#Tweets">Tweets</a></li>
			<li role = "presentation"><a href="#Following" data-toggle="tab">Following</a></li>
			<li role = "presentation"><a href="#Followers" data-toggle="tab">Followers</a></li>
		</ul> 
	</div>
</div>
<br>
