<h1 style = "color:#01C9F5" align = "center" class = "forgot-header">
	Forgot your <br> Password? <br> :(
</h1>
<h3 style = "color: #01C9F5" align = "center"> That's Okay. Just enter your Username and Email below, and you'll receive an email on how to reset it.</h3>
<div class = "container" align = "center">
	<form class = "form">
		<div class="form-group reset-form">
			<label style = "color:#01C9F5" for "username">Username</label>
			<input type="username" class="form-control" placeholder="Enter Username" name ="username">
		</div>
		<div class="form-group reset-form">
			<label style = "color:#01C9F5" for "email">Email</label>
			<input type="email" class="form-control"
			placeholder="Enter Email" name="email">
		</div>
		<button type="button" class="btn btn-default resetPass-button">Submit</button>
	</form>
</div>