.login {
	background-color: #01C9F5;
	width: 100%;
	height: 400px;
	//white-space: nowrap;
	
}
.login h2 {
	font-family: "Oswald";
	font-weight: 300;
	padding-left: 20px;
	margin-top: 0;

}
.signup {
	position: absolute;
	margin-left: 0px;
	font-family: "Oswald";
	font-weight: 300;
	padding-left: 20px;

}
a.signup-button {
	text-decoration: underline;
	color: white;
}
.forgotPass {
	position: absolute;
	margin-left: 0px;
	font-family: "Oswald";
	font-weight: 300;
	padding-left: 20px;

}
a.forgotPass-button {
	text-decoration: underline;
	color: white;
}
.navbar {
	margin-bottom: 0;


}
.header {
	white-space: nowrap;
}
/*.btn{
	border-radius: 0px;
	color: #01C9F5;

}
.btn:link {
	color: white;
	background-color: #01C9F5;
}
.btn:visited {
	color: white;
	background-color: #01C9F5;
}

.btn:hover {
	color: white;
	background-color: #01C9F5;
}
.btn:active {
	color: white;
	background-color: #01C9F5;
}*/
.login_button {
	margin-top: 5px;
}
.form-control {
	border-radius: 0;
}
.searchbar {
	margin-top: 10px;
	display: inline;

}
.search-button {
	float: left;
	margin-top: 10px;
}
.forgot-header {
	font-family: "Oswald";
	font-weight: 300;
}
.register {
	background-color: #CEF6EC;
	width: 100%;
	height: 700px;
	padding-left: 20px;
}
.signup_button {
	margin-top: 20px;
}
.resetPass-button {
	//margin: 30px;
}
.reset-form {
	padding: 10px;
	width:30%;
}
.signup-form {
	width:15%;
}
.signup-form-large {
	width:20%;
}
.profile-pic {
	background-color: black;
	height: 200px;
	width: 200px;
	min-width: 200px;
	min-height: 200px;
}
.profile-info {
	position: relative;
	margin: 0;
	float:left;
	width:20%;
	overflow: auto;
}
.profile-tabs {
	//background-color:  #01C9F5;

}
.tabs {
	margin-top: 10px;
	width:50%;
}
.nav-pills>li.active>a {
	background-color: #01C9F5;
	color: white;
}
.nav-pills>li >a {
	color: #01C9F5;
}
.settings {
	background-color: #01C9F5;
	width: 100%;
	height: 700px;
	padding-left: 20px;
}
.tweet-box {
	resize: none;
}
.tweet {
	width: 100%;
	margin: 0 0 0 0px ;
	height: 20px;
	min-width: auto;
	min-height:20px;
}
.counter {
	float: right;
	margin-top: 7px;
	margin-right: 10px;
}
.tweet-button {
	float: right;
	display: inline;
}
.profile-tabs {
	width: 500px;
	padding-top: 70px;
	height:115px;
}
.error-text {
	padding-left: 20px;
	font-family: "Oswald";
}
.logout-button {
	//display: inline;
	width: 0;
	float: right;
	height: 0;
}
.tweet-list {
	background-color: #01C9F5;
	margin-bottom: 10px; 
	border-radius: 10px;
	border-color: white;
	word-wrap: break-word;
}
.tweet-list p {
	color: white;
	padding-left: 5px;
	padding-right:5px;
}

.tweet-list h3 {
	color:white;
}
.following-button {
	background-color: green;
	color: white;
}
.following-button:hover {
	background-color: red;
	color: white;
}
.following-button:hover span{
	display: none;
}
.following-button:hover:after {
	content:'Unfollow?';
}
.tweet_header {
	display: inline-block;
	margin-top: 0;
}
.follow_list {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: black;
	background-color: #DFDFDF;
	display: inline-block;
}
.follow_list img {
	position:relative;
	//margin-left: 50%;
	//margin-right: 50%;
	margin-left:  25px;
}
